HEAD #explol {
  margin: 150px 0 0 0;
}
.explol {
  .bee {
    .ionka {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nava {
        display: flex;
        gap: 10px;
        button {
          color: #888888;
          border: 1px solid #888888;
          border-radius: 5px;
          width: 70px;
          height: 30px;
          background: white;
          transition: 1s;
        }
        button:hover {
          background: #3772ff;
          color: white;
        }
      }
      .big-nava {
        display: flex;
        gap: 20px;
        .w {
          width: 120px;
          height: 50px;
          font-size: 16px;
          border-radius: 8px;
          color: white;
          background: #3772ff;
          transition: 1s;
          border: none;
        }
        .w:hover {
          color: #3772ff;
          background: white;
        }
        .x {
          width: 120px;
          height: 50px;
          font-size: 16px;
          border-radius: 8px;
          color: white;
          background: #9757d7;
          transition: 1s;
          border: none;
        }
        .x:hover {
          color: #9757d7;
          background: white;
        }
      }
    }
  }
  .scrolle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0 0 0;

    .ret {
      font-size: 40px;
      font-weight: 400;
      color: gray;
    }
    .ret:hover {
      color: blue;
    }
    .scrulle {
      background: #f3f4f5;
      width: 270px;
      height: 262px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 120px 0;

      .et {
        .j {
          display: flex;
          align-items: center;
          gap: 10px;
          .rt {
            background: white;
            color: #45b26b;
            width: 60px;
            height: 25px;
            border: 1px solid #45b26b;
            border-radius: 7px;
            margin: 10px 0;
            font-size: 10px;
          }
        }
        .po {
          display: flex;
          align-items: center;
          gap: 30px;
          button {
            color: #3772ff;
            background: #3772ff33;
            width: 50px;
            height: 25px;
            border-radius: 5px;
            border: none;
          }
        }
      }
    }
  }
}
