*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
     box-sizing: border-box;
}
#header{
    background:#FFFFFF;
     padding: 10px 20px;
    
}
.container{
 max-width: 1200px;
 margin: 0 auto;

}
 .header{ 
     display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
      flex-wrap: wrap;
    a{
font-weight: 500;
font-size: 14px;
color: #888888;
    }
 } 

 .url{
    position: relative; 
   

   
 }
.url input{
   padding: 10px 60px 10px 35px; /* место под иконки */
  border-radius: 6px;
  border: none;
  font-size: 18px;
  background: #CCCCCC;
 
  }
.Search{
position: relative;
right: 30px;
color: #888888;
width: 16px;
}
.kn{
    width: 130px;
    height: 40px;
   border-radius: 7px;
    border: none;
    background: #3772FF;
    color: #FFFFFF;
    gap: 10px;
}
.exit{
    position: relative;
    left: 30px;
    width: 20px;
    top: 5px;
    

}

.hero{
    h4{
       margin-top: 100px;
        font-size: 10px;
        color: #888888;
    }

}
.title{
margin-top: 15px;
font-size: 60px;
font-weight: 500;
line-height: 100px;

    }

.Explore{
  margin-top: 20px;
    width: 200px;
    height: 70px;
   border-radius: 7px;
    border: none;
    background: #3772FF;
    color: #FFFFFF;
    gap: 10px;
    font-size: 20px;
}

.arrow{
    position: relative;
    right:  50px;
    width: 35px;
   
}
.big{
    position: absolute;
    left: 900px;
    bottom: 50px;
}

.num{
    display: flex;
    align-items: center;
    margin-top: 70px;
    gap: 200px;
   font-size: 20px;
   
   
}
.word{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 235px;
   font-size: 18px;
   color: #888888;
   
}

#polo{
    margin-top: 300px;
}

.polo-images{
          display: flex;
    align-items: center;
   gap: 50px;
    img{
    border-radius: 20px;
   
    }
}
.polo-text{
font-size: 20px;
line-height: 40px;
font-weight: 700;
}

#seller {
  margin: 150px 0 0 0;
}
.seller {
  .be {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date-select {
      width: 320px;
      height: 40px;
      border-radius: 10px;
      border: 2px solid #e5e4e4;
      font-size: 18px;
    }
  }
  .scrol {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: 90px 0 0 0;

    .re {
      font-size: 40px;
      font-weight: 400;
      color: gray;
    }
    .re:hover {
      color: blue;
    }
    .scrul {
      background: #f3f4f5;
      width: 270px;
      height: 262px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .men {
        border-radius: 50%;
        border: solid 3px #3772ff;
        margin: -40px 0 20px 0;
      }
      .io {
        margin: 20px;
        display: flex;
        gap: 20px;
      }
      h1 {
        width: 200px;
        border-bottom: 1px solid gray;
        padding: 10px 0;
      }
      button {
        background: #9757d7;
        color: white;
        width: 80px;
        height: 40px;
        border: none;
        border-radius: 7px;
        margin: 10px 0;
      }
    }
  }
}